# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv_py311/
.env
*.log
*.sqlite3
venv/
# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Test coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
*.cover
.hypothesis/

# Environments
.env
.venv
marknv/
ENV/
.env.bak
.env.example

.vscode/
.idea/
.DS_Store
